.header {
    width: 100%;
    display: grid;
    grid-template-columns: repeat(4, auto);
    column-gap: 30px;
}
.header__link {
    background-color: brown;
    color: white;
    text-decoration: none;
    height: 45px;
    display: flex;
    align-items: center;
    justify-content: center;
}
